@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin content {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-item {
      margin-left: 0;
      margin-top: 1rem;

      &-title {
        font-size: 1.5rem;
        margin-bottom: 0.625rem;
      }
    }
  }
}
